<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="refresh" content="5;url={{result_url}}">
  <style>
    /* 로딩 페이지 스타일 */
    body {
      background-color: #f3f3f3;
      font-family: Arial, sans-serif;
      text-align: center;
    }

    .loading-text {
      font-size: 24px;
      color: #333;
      margin-top: 20px;
    }

    .loading-image {
      margin-top: 40px;
    }
  </style>
</head>
<body>
  <div class="loading-text">Loading...</div>
  <img class="loading-image" src="{{loading_img}}" alt="로딩 이미지">
</body>
</html>
