<!DOCTYPE html>
<html>
<head>
  <style>
    /* 로딩 페이지 스타일 */
    body {
      background-color: #f3f3f3;
      font-family: Arial, sans-serif;
      text-align: center;
    }

    .loading-text {
      font-size: 24px;
      color: #333;
      margin-top: 20px;
    }

    .loading-image {
      margin-top: 40px;
    }
  </style>
</head>
<body>
  <img class="loading-image" src="/static/img/concentrate.jpeg" alt="로딩 이미지">
  <div class="loading-text">
    <H2>총점이 {{total}}로 ADHD가 아닙니다. <br>
  ADHD에 대해서 더 자세히 알고싶다면 <a href="http://www.adhd.or.kr/">http://www.adhd.or.kr</a>를 방문 하시기 바랍니다.<H2></div>
</body>
</html>
